*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: white;
    --font-color: rgba(66, 66, 66, 0.911);
    --logo-color:rgb(180, 23, 141);
    
    --shadow-color:rgba(137, 150, 150, 0.582);
    --border-hover-color: salmon;
    --container-bg-color:rgba(238, 238, 238, 0.267);
  
}
html{
    font-family: sans-serif;
     font-size: min(max(1rem, 5vw), 20px);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 3rem;
   padding: 0 0.625rem;
   box-shadow: 4px 0px 8px rgb(223, 222, 222);
   /* background-color:purple; */
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   width: 100%;
   z-index: 99;
   background-color: white;
}
.nav-links{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   height: calc(100vh);
   position: absolute;
   top: 0;
   left: 0;
   width: 0vw;
   overflow-x: hidden;
   transition: all 0.2s ease-in;
   z-index: 10;
   background-color: #eee;
   /* box-shadow: 0px 0px 0px rgb(223, 222, 222),4px 0px 10px rgb(223, 222, 222), 0 0 0 #eee, 0 0 0 #eee; */
   border-right: 1px solid lightgray;
}
#closeSideMenu{
    font-size: 2rem;
    position: absolute;
    top: 8px;
    right: 30px;
}
.nav-links li{
    width: 100%;
    text-align: center;
}
.nav-links a{
    color: var(--font-color);
    white-space: nowrap;
    border-bottom: 4px solid transparent;
}
.search-bar-container{
    display: none;
}
.user-section-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 31%;
    height: 100%;
    background-color: white;
}
.user-section-icons li i{
    cursor: pointer;
    color: var(--font-color);
    /* background-color: red; */
    padding: 0.4rem 0.2rem;
    
}
.user-section-icons li:nth-of-type(1){
    display: none;
}
.burger{
    cursor: pointer;
}
.burger>div{
    width: 1.1rem;
    height: 3px;
    margin: 4px;
    background-color: var(--font-color);
}
.logo{
    position:absolute;
    left: 15%;
    cursor: pointer;
}

.logo-text{
    background-color: #fff;
    padding: 0.4rem 0.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(245, 67, 126);
}

/* mobile categories icon below header */

.container-100{
    width: 100%;
    background-color: var(--container-bg-color);
    border: 1px solid rgba(226, 226, 226, 0.123);
}
.container-95{
    width: 95%;
    background-color: var(--container-bg-color);
    border: 1px solid rgba(230, 230, 230, 0.123);
    box-shadow: 0px 0px 3px rgb(165, 162, 162);
}
.container-90{
    width: 90%;
    background-color: var(--container-bg-color);
    border: 1px solid rgba(230, 230, 230, 0.123);
}
.icon-menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.8rem;
    border: none;
    width: 100%;
    margin: 0 0 0.7rem 0;
    
}
.menu-category-icon{
      width: 3.5rem;
      height: 4.3rem;
      position: relative;
      cursor: pointer;
      overflow: hidden;
     
      
}
.menu-category-icon img{
    display: block;
    margin: auto;
      width: 90%;
      height: 75%;
      border-radius: 60%;
}
.icon-overlay{
    
    position: absolute;
    bottom: 0;
    height: 24%;
    width: 100%;
    
}
.icon-overlay span{
    font-size: 0.8rem;
    width: 100%;
    display: block;
    text-align: center;
    
    color:var(--font-color);
}

/* welcome banner styling here */
.shopping-banner-container{
    width: 100%;
    margin: 0.7rem 0;
    height: 55vh;
    position: relative;
    border: none;
    padding: 0;
    box-shadow: 0px 0px 4px #eee;
}
.shopping-banner-container img{
    width: 100%;
    height: 100%;
    
}
.shopping-banner-container .banner-overlay{
    width: 100%;
    height: 50%;
   background: linear-gradient(360deg, rgb(51, 50, 50), transparent);
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
}
.banner-overlay h1,.banner-overlay h3,.banner-overlay button{
    display: block;
    width: fit-content;
    margin: 0.2rem auto;
    font-weight: 400;
    color:rgb(245, 67, 126);
}
.banner-overlay h3{
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0.932);
}
.banner-overlay button{
   width: 30%;
   font-size: 0.9rem;
   padding: 0.3rem 0rem;
   border: none;
   border-radius: 4px;
   background-color: rgb(245, 67, 126);
   color: white;
   cursor: pointer;
}
/* sale promotional banner */
.sale-promotion-01{
    font-weight: 400;
    padding: 0.5rem;
    margin: auto;
    text-align: center;
    color: rgba(247, 247, 247, 0.952);
    background: linear-gradient(to right, rgb(245, 87, 153), rgb(250, 110, 250));
    box-shadow: 0px 0px 3px rgb(165, 162, 162);
}
.promo-text h3{
 font-weight: 400;
}
.mega-animation{
    color: rgba(253, 237, 9, 0.973);
    animation: mega-animate 0.5s ease-in-out infinite alternate-reverse;
}
@keyframes mega-animate{
    0%{
        color: rgba(255, 238, 0, 0.973);
    }50%{
        color: rgb(247, 229, 195);
    }100%{
        color: rgb(240, 216, 0);
    }
}
/* heading */
.heading{
    text-align: center;
    text-transform: uppercase;
    margin: 0.9rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--font-color);
}

/* deals banner styling */

.deals-of-the-day-container{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    height: fit-content;
    position: relative;
}
.deals{
    /* width: 40%; */
    width: 150px;
    max-width: 240px;
    height: 210px;
    max-height: 260px;
    margin: 0.4rem;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(224, 224, 224);
    border: 0.3px solid rgba(245, 67, 126, 0.603);
    border-radius: 4px;
    position: relative;
}
.deals img{
    height: 65%;
    width: 100%;
    object-fit: fill;
    border-radius: 4px;
}
.deals-overlay{
   /* background-color:red; */
   width: 100%;
   height: 35%;
   position: absolute;
   bottom: 0;
}
.deals-overlay h3{
   width: fit-content;
   margin:0.15rem auto;
   font-size: 0.9rem;
   font-weight: 400;
   color: var(--font-color);
}
.deals-overlay span{
   display: block;
   width: fit-content;
   margin: auto;
   color: white;
   font-size: 1rem;
   padding: 0 0.2rem;
   background-color:rgb(245, 67, 126);
}

/* categories to bag grid styling */

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    grid-gap: 0.3rem;
    margin: auto;
}
.grid-item{
    position: relative;
    width: 100%;
    height: 160px;
   
}
.category-image{
    margin: auto;
    width: 90%;
    height: 63%;
}

.category-image img{
   width: 100%;
   height: 100%;
   border: 1px solid rgb(245, 67, 126);
   border-radius: 50%;
   object-fit: fill;
}
.grid-item-overlay{
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  padding-top: 0.3rem;
  text-align: center;
}
.grid-item-overlay span{
  color: var(--font-color);
  font-size: 0.7rem;
}


/* trends styling from here */
.trends-container{
    margin: 0.7rem auto;
    width: 95%;
    height: 80vh;
    padding: 0.5rem;
}
.trends-item{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.trends-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.trends-item .gender-tag{
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: rgba(255, 255, 255, 0.774);
    padding: 0.3rem;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 200;
    color: var(--font-color);
}
.trends-overlay{
    position: absolute;
    bottom: 0%;
    height: 33%;
    width: 100%;
    padding: 0.4rem;
    text-align: center;
    color: white;
    
}
.trends-overlay h2{
    white-space: nowrap;
    font-weight: 300;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    
}
.trends-overlay h3{
    white-space: nowrap;
    width: 30%;
    font-size: 0.8rem;
    text-transform: uppercase;
    position: absolute;
    padding: 0.3rem;
    margin-top: 0.4rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
    /* border: 1px solid white ; */
    color: white;
    border-radius: 3px;
    padding: 0.2rem;
    background-color: rgb(245, 67, 126);
    
}

/* offer corner styling from here */

.offer-corner-container{
    padding: 0.2rem;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.offer-corner-container>div{
    width: 30%;
    height: 90%;
}
.offer-item img{
   width: 100%;
   border: 0.3px solid rgba(245, 67, 126, 0.603);
   border-radius: 4px;
}

/* Special Arrival styling */

.special-arrival-container{
    height: 280px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.special-arrival-container>div{
    width: 47%;
    height: 90%;
    box-shadow: 0px 0px 5px rgb(224, 224, 224);
    border: 0.3px solid rgba(245, 67, 126, 0.603);
    border-radius: 4px;
}
.special-arrival-item img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    
}
.special-arrival-item{
    position: relative;
}
.special-arrival-item .arrival-overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(109, 109, 109, 0.685), transparent);
    color: rgba(255, 255, 255, 0.883);
    text-align:center;
}
.special-arrival-item .arrival-overlay h3,h4{
    font-weight: 100;

    padding: 0;
    
    
}
.special-arrival-item .arrival-overlay button{
    outline: none;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    margin-top: 0.35rem;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.883);
    padding: 0.2rem 0.4rem;
    background-color: rgb(245, 67, 126);
}


/* media queries for small mobile device */

@media screen and (min-width: 576px){

}

/* media queries for ipad level tablet */

@media screen and (min-width: 768px){
    
}

/* media queries for big device from ipad pro, laptop and descktop */

@media screen and (min-width: 992px) {
    header{
        justify-content: space-around;
        padding: 0;
        height: 3rem;
        position: sticky;
        top: 0;
       
    }
    .burger{
        display: none;
    }

    .logo{
       position: static;
    }

     .nav-links{
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         align-items: center;
         position: static;
         height: 100%;
         box-shadow: none;
         width: 40%;
         overflow: hidden;
         background-color: white;
         border: none;
         
         
     }
     
     #closeSideMenu, .nav-links li:first-of-type{
         display: none;
        
     }

  

     .nav-links a{
         font-size: 0.7rem;
         padding: 0.88rem 0.4rem;
         border-bottom: 3px solid transparent;
         transition: all 0.3s ease-in;
         text-transform: uppercase;
         font-weight: 500;
         
         margin: 0;
        
     }
     .nav-links a:hover{
         border-bottom-color:salmon;
        
     }
     
     .search-bar-container {
        display: block;
        width: 25%;
        max-width: 30%;
        height: fit-content;
        position: relative;
        
        
        
    }
     .search-bar-container .material-icons {
        display: inline;
        position: absolute;
        top: 50%;
        padding-left: 0.2rem;
        transform: translateY(-50%);
        color: rgb(143, 143, 143);
       
        
    }
    .user-section-icons li i{
        transition: all 0.2s ease;
    }
     .user-section-icons li i:hover{
        color: rgba(136, 136, 136, 0.973);
        color: salmon;
    }
     .search-bar-container input[type="search"]{
        display: block;
        width:100% ;
        padding: 0.5rem 0.1rem 0.5rem 1.8rem ;
        color:rgb(143, 143, 143) ;
        background-color: rgba(228, 228, 228, 0.473);
        outline: none;
        border: none;
        border-radius: 5px;
    
    }
     .search-bar-container input[type="search"]:focus{
       
        background-color: white;
        outline: none;
        border: 1px solid var(--font-color) ;
        border-radius: 5px;
    
    }
    
     .user-section-icons{
         width: 14%;
         max-width: 20% ;
     }
     .user-section-icons li i{
         padding: 10px 5px;
         cursor: pointer;
         
     }
     .user-section-icons li:nth-of-type(1){
        display: inline-block;
        
    }
     .user-section-icons li:nth-of-type(2){
        display: none;
        
    }
}

